/01-Instalasi Java Netbeans/nbproject/private/
/01-Instalasi Java Netbeans/build/
/Java Dasar 01 - Hello World/nbproject/private/
/Java Dasar 01 - Print dan Eksekusi/nbproject/private/
/Java Dasar 01 - Pengenalan Print dan Alur Eksekusi/nbproject/private/
/Java Dasar 01 - Pengenalan Print dan Alur Eksekusi/build/
/Java Dasar 02 - Memahami String[[] ] args/nbproject/private/
/Java Dasar 02 - Memahami String[[] ] args/build/
/Java Dasar 02 - Variabel, Assignment dan Deklarasi/nbproject/private/
/Java Dasar 02 - Variabel, Assignment dan Deklarasi/build/
/Java Dasar 03 - Tipe data fundamental atau Primitive/nbproject/private/
/Java Dasar 03 - Tipe data fundamental atau Primitive/build/
/Java Dasar 04 - Operator Aritmatika/nbproject/private/
/Java Dasar 04 - Operator Aritmatika/build/
/Java Dasar 05 - Konversi tipe data numeric/nbproject/private/
/Java Dasar 05 - Konversi tipe data numeric/build/
/Java Dasar 06 - Operator Unary (Decrement dan Increment)/nbproject/private/
/Java Dasar 06 - Operator Unary (Decrement dan Increment)/build/
/Java Dasar 07 - Operator Assignments/nbproject/private/
/Java Dasar 07 - Operator Assignments/build/
/Java Dasar 08 - Operator Komparasi/nbproject/private/
/Java Dasar 08 - Operator Komparasi/build/
/Java Dasar 09 - Operator Logika/nbproject/private/
/Java Dasar 09 - Operator Logika/build/
/Java Dasar 09 - Mengambil user input (Scanner) dan latihan aritmatika/nbproject/private/
/Java Dasar 10 - Mengambil user input (Scanner) dan latihan aritmatika/nbproject/private/
/Java Dasar 10 - Mengambil user input (Scanner) dan latihan aritmatika/build/
/Java Dasar 11 - Pengelompokan operasi aritmatika/nbproject/private/
/Java Dasar 11 - Pengelompokan operasi aritmatika/build/
/Java Dasar 12 - Latihan Operator Logika/nbproject/private/
/Java Dasar 12 - Latihan Operator Logika/build/
/Javar Dasar 12 - test/nbproject/private/
/Java Dasar 12 - Belajar Latihan Operator Logika/nbproject/private/
/Java Dasar 12 - Belajar Latihan Operator Logika/build/
/Java Dasar 13 - If Else Statement/nbproject/private/
/Java Dasar 13 - If Else Statement/build/
/Java Dasar 14 - IF Else IF statement/nbproject/private/
/Java Dasar 14 - IF Else IF statement/build/
/Java Dasar 15 - IF Bersarang (nested IF)/nbproject/private/
/Java Dasar 15 - IF Bersarang (nested IF)/build/
/Java Dasar 16 - Switch Case/nbproject/private/
/Java Dasar 16 - Switch Case/build/
/Java Dasar 17 - Ternary Operator/nbproject/private/
/Java Dasar 17 - Ternary Operator/build/
/Java Dasar 18 - Latihan Kalkulator (if else)/nbproject/private/
/Java Dasar 18 - Latihan Kalkulator (if else)/build/
/Java Dasar 19 - Latihan Kalkulator (Switch Case)/nbproject/private/
/Java Dasar 19 - Latihan Kalkulator (Switch Case)/build/
/Java Dasar 20 - While Loop/nbproject/private/
/Java Dasar 20 - While Loop/build/