/01-Instalasi Java Netbeans/nbproject/private/
/01-Instalasi Java Netbeans/build/
/Java Dasar 01 - Hello World/nbproject/private/
/Java Dasar 01 - Print dan Eksekusi/nbproject/private/
/Java Dasar 01 - Pengenalan Print dan Alur Eksekusi/nbproject/private/
/Java Dasar 01 - Pengenalan Print dan Alur Eksekusi/build/
/Java Dasar 02 - Memahami String[[] ] args/nbproject/private/
/Java Dasar 02 - Memahami String[[] ] args/build/
/Java Dasar 02 - Variabel, Assignment dan Deklarasi/nbproject/private/
/Java Dasar 02 - Variabel, Assignment dan Deklarasi/build/
/Java Dasar 03 - Tipe data fundamental atau Primitive/nbproject/private/
/Java Dasar 03 - Tipe data fundamental atau Primitive/build/
/Java Dasar 04 - Operator Aritmatika/nbproject/private/
/Java Dasar 04 - Operator Aritmatika/build/